<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Logger</title>
  

    <link type="text/css" rel="stylesheet" href="/css/landing_page.css">
    
</head>

<body>
    
    <main class="landing-wrapper">
            <h1 class="landing-wrapper__title">
                    404: Page Not Found
                </h1>
      
                <!-- <div class="landing-wrapper__buttons">
                    <a href="/logger" class="landing-wrapper__links">Start</a>
                    <a href="/" class="landing-wrapper__links">Learn More</a>
                </div> -->
    </main>
</body>
</html>