<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>Welcome!</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi optio et consequuntur repudiandae aperiam,
        atque quisquam iure magni suscipit quod.</p>

    <h2>Time Usage</h2>
    <div>
        <ul>
            <li>8:40 Am -- out of bed</li>
            <li>9:05 -- groom</li>
            <li>9:20 -- make breakfast</li>
            <li>9:55 -- breakfast and food</li>
        </ul>
    </div>

    <form action="/" method="POST">
        <div>
            <label for="activity">Activity</label>
            <input type="text" name="activity" id="activity">
        </div>

        <div>
            <label for="time">Time</label>
            <input type="text" name="time" id="time">
        </div>

        <button type="submit">Enter new activity</button>
    </form>

    <div>
        <h2>Report</h2>
        <ul>
            <li>activity x: y%</li>
            <li>activity x: y%</li>
            <li>activity x: y%</li>
            <li>activity x: y%</li>
        </ul>
    </div>

</body>

</html>