<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= pageTitle %> </title>


    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- <link type="text/css" rel="stylesheet" href="/css/reset.css"> -->
    <link type="text/css" rel="stylesheet" href="/css/dailylog_u.css">
    <link type="text/css" rel="stylesheet" href="/css/nav.css">


    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <script src="/scripts/main_script.js"></script>


</head>

<body>
    <div class="wrapper">


        <h1 class="title">
            Welcome
        </h1>

        <div class="main-app">
            <table id="daily-log-body" class="time-log">
                <thead class="time-log__row time-log__header">
                    <tr>
                        <th class="time-log__row-data time-log__row-heading">Time</th>
                        <th class="time-log__row-data time-log__row-heading">Activity</th>
                    </tr>
                </thead>
                <tbody id="daily-log-body">
                    <% for (let i = 0; i < data.length; i++) { %>
                    <!-- <% console.log("dsfsdf", data[i].time) %> -->
                    <tr>
                        <td><%= data[i].time %></td>
                        <td><%= data[i].activity %><button class="daily-log__remove-activity">X</button></td>

                    </tr>
                    <% } %>

                </tbody>
            </table>


            <div class="controls">
                <input id="activity_input" type="text" class="controls__input">
                <!-- Wireframe 'sketch' buttons -->
                <a id="save" href="#" class="pure-button pure-button-primary">Add</a>
                <a id="add" href="#" class="pure-button">Save</a>
            </div>
        </div>


    </div>









</body>

</html>