/* == global == */
html {
    background-color: rgb(255, 255, 255);
}

/* === body === */

body {
    margin: 0;
    color: white;
}

.main-wrapper {
    /* size */
    max-width: 900px;
    min-width: 400px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px 50px;

    /* background */
    background-color: rgb(10, 108, 173);

    text-align: center;
}

/* == table */
.log-display {
    margin: 0 auto;
    border-collapse: collapse;
}

.log-display,
.log-display th,
.log-display td {
    border: 1px solid white;
}

.daily-log__remove-activity {
    /* position */
    float: right;

    /* size */

    border: none;

    /* color */
    background-color:transparent;

    /* font */
    /* font-size: 1.1rem; */
    font-weight: bolder;
}

/* == input box */
.input-box {
    max-width: 300px;
    min-width: 200px;

    margin: 0 auto;
    padding: 10px;
}

.input-box__form-control {
    margin: 10px 0;
}

.input-box__text-input {
    width: 99%;
    height: 1rem;
}

.input-box__btn {
    /* buttons dont line up with inputs */
    background: white;
    /* font */
    color: rgb(0, 94, 156);
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 900;

    /* size */
    display: inline-block;
    width: 50%;
    line-height: 2.5em;
}
